/* ==========================================================================
   HTML5 Boilerplate - $Normilitzr
========================================================================== */
/* ==========================================================================
* Index
* $Normilitzr
* $Grids
========================================================================== */
/* ==========================================================================
   HTML5 Boilerplate - $Normilitzr
========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
  font: normal 100% "Arial";
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font: normal 100% "Arial";
  line-height: 1.6875;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
/* $Sticky Footer
/* cssstickyfooter.com
-------------------------------------------------------------- */
html,
body {
  height: 100%;
}
/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 150px;
}
body > .wrapper{
  border-bottom: 3px solid #0c151a;
}
/* must be same height as the footer */
footer {
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */

  background-color: #161d25;
  border-top: 1px solid #2b3238;
  clear: both;
  min-height: 300px;
}
footer:before{
  border-top: 3px solid #0c151a;
}
footer .wrapper {
  padding: 0 100px;
  padding-bottom: 0;
}
footer .wrapper h6{
  color: #aadcff;
  font-size: 14px;
}
footer .wrapper ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .wrapper ul li{
  color: #c7ccd0;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
footer .wrapper ul li a:link, footer .wrapper ul li a:active, footer .wrapper ul li a:visited{
  color: #c7ccd0;
  display: block;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
}
footer .wrapper ul li a:hover{
  background-color: #676767;
}
.ft-ul{
  float: left;
  width: 200px;
}
.ft-ul ul{
  width: 150px;
}
/* ==========================================================================
/* $Grids 
/* =Gridiculous
-------------------------------------------------------------- */
.grid,
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.wfull {
  width: 100%;
  max-width: 100%;
}
.w320 {
  max-width: 320px;
}
.w640 {
  max-width: 640px;
}
.w960 {
  max-width: 960px;
}
.row {
  width: 100%;
  margin-bottom: 20px;
}
.row .row {
  width: auto;
  margin: 0 -20px;
}
.c1 {
  width: 8.33%;
}
.c2 {
  width: 16.66%;
}
.c3 {
  width: 25%;
}
.c4 {
  width: 33.33%;
}
.c5 {
  width: 41.66%;
}
.c6 {
  width: 50%;
}
.c7 {
  width: 58.33%;
}
.c8 {
  width: 66.66%;
}
.c9 {
  width: 75%;
}
.c10 {
  width: 83.33%;
}
.c11 {
  width: 91.66%;
}
.c12 {
  width: 100%;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.s1 {
  margin-left: 8.33%;
}
.s2 {
  margin-left: 16.66%;
}
.s3 {
  margin-left: 25%;
}
.s4 {
  margin-left: 33.33%;
}
.s5 {
  margin-left: 41.66%;
}
.s6 {
  margin-left: 50%;
}
.s7 {
  margin-left: 58.33%;
}
.s8 {
  margin-left: 66.66%;
}
.s9 {
  margin-left: 75%;
}
.s10 {
  margin-left: 83.33%;
}
.s11 {
  margin-left: 91.66%;
}
.end {
  float: right !important;
}
/* ==========================================================================
   $Author:     Name
   $create at:  00/00/2013
========================================================================== */
/* ==========================================================================
   Plugins
========================================================================== */
/* Fancybox
============================= */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url(../img/fancybox/fancybox_sprite.png);
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox/fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(../img/fancybox/blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../img/fancybox/fancybox_overlay.png);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url(../img/fancybox/fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url(../img/fancybox/fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/* Fancybox Buttons */
#fancybox-buttons {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 8050;
}
#fancybox-buttons.top {
  top: 10px;
}
#fancybox-buttons.bottom {
  bottom: 10px;
}
#fancybox-buttons ul {
  display: block;
  width: 166px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border: 1px solid #111;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  background: #323232;
  background: -moz-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(50%, #343434), color-stop(50%, #292929), color-stop(100%, #333333));
  background: -webkit-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: -o-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: -ms-linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  background: linear-gradient(top, #444444 0%, #343434 50%, #292929 50%, #333333 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0);
}
#fancybox-buttons ul li {
  float: left;
  margin: 0;
  padding: 0;
}
#fancybox-buttons a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-color: transparent;
  background-image: url(../img/fancybox/fancybox_buttons.png);
  background-repeat: no-repeat;
  outline: none;
  opacity: 0.8;
}
#fancybox-buttons a:hover {
  opacity: 1;
}
#fancybox-buttons a.btnPrev {
  background-position: 5px 0;
}
#fancybox-buttons a.btnNext {
  background-position: -33px 0;
  border-right: 1px solid #3e3e3e;
}
#fancybox-buttons a.btnPlay {
  background-position: 0 -30px;
}
#fancybox-buttons a.btnPlayOn {
  background-position: -30px -30px;
}
#fancybox-buttons a.btnToggle {
  background-position: 3px -60px;
  border-left: 1px solid #111;
  border-right: 1px solid #3e3e3e;
  width: 35px;
}
#fancybox-buttons a.btnToggleOn {
  background-position: -27px -60px;
}
#fancybox-buttons a.btnClose {
  border-left: 1px solid #111;
  width: 35px;
  background-position: -56px 0px;
}
#fancybox-buttons a.btnDisabled {
  opacity: 0.4;
  cursor: default;
}
/* Fancybox Thumbs */
#fancybox-thumbs {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 8050;
}
#fancybox-thumbs.bottom {
  bottom: 2px;
}
#fancybox-thumbs.top {
  top: 2px;
}
#fancybox-thumbs ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
#fancybox-thumbs ul li {
  float: left;
  padding: 1px;
  opacity: 0.5;
}
#fancybox-thumbs ul li.active {
  opacity: 0.75;
  padding: 0;
  border: 1px solid #fff;
}
#fancybox-thumbs ul li:hover {
  opacity: 1;
}
#fancybox-thumbs ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
  outline: none;
}
#fancybox-thumbs ul li img {
  display: block;
  position: relative;
  border: 0;
  padding: 0;
  max-width: none;
}
/* ==========================================================================
   Media Queries
========================================================================== */
/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */
@media only screen and (max-width: 960px) {
  .row .row .c1,
  .row .row .c2,
  .row .row .c3,
  .row .row .c4,
  .row .row .c5,
  .row .row .c6,
  .row .row .c7,
  .row .row .c8,
  .row .row .c9,
  .row .row .c10,
  .row .row .c11,
  .row .row .c12 {
    width: 100%;
    margin-bottom: 20px;
  }
  .row .row > div:last-child {
    margin-bottom: 0 !important;
  }
  body {
    background: red !important;
  }
}
/* =Media query for iPad and tablets
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation: portrait) {
  body {
    font-size: 90%;
  }
  .row {
    margin-bottom: 0 !important;
  }
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/* ==========================================================================
   $Helper classes
========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.invisible {
  visibility: hidden;
}
.fix:before,
.fix:after {
  content: " ";
  display: table;
}
.fix:after {
  clear: both;
}
.fix {
  *zoom: 1;
}
/* ==========================================================================
   $Print styles
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ---------------------------
  Minhas Mudancas
  $Body and All-around
    $icon
  $wrappewr
  $main
    $slider
    $latest
    $bottom widgets
------------------------------*/
body{
  background-color: #2c3e4c;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
}
.left{
  float: left;
}
.clearfix{
  clear: both;
}
.marg40{
  margin-top: 40px;
}
.box{
  background: #35a9e2; /* Old browsers */
  background: -moz-linear-gradient(left,  #35a9e2 0%, #2196c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#35a9e2), color-stop(100%,#2196c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #35a9e2 0%,#2196c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #35a9e2 0%,#2196c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #35a9e2 0%,#2196c1 100%); /* IE10+ */
  background: linear-gradient(to right,  #35a9e2 0%,#2196c1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a9e2', endColorstr='#2196c1',GradientType=1 ); /* IE6-9 */
}
.box2{
  background-color: #161d25;
}
/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
/*----------------------------------------------------
  $icons
----------------------------------------------------*/
.i-servico{
  background-image: url(../img/cog.png);
  background-size: 36px 36px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Wrapper */
body > .wrapper{
  border-top: 5px solid #2c3e4c;
}
/* -------------------------------------------------
  Header
  Content
--------------------------------------------------*/
#top .row{
  margin-bottom: 0 !important;
   clear: both;
}
.top-content{
  height: 110px;
}
.top-content h1{
  text-indent: 9999px;
}
#logo{
  height: 90px;
  width: 190px;
}
.midia{
  text-align: right;
}
.midia ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
}
.midia ul li{
  display: inline-block;
  padding: 0 20px;
}
/*-------------------------------------------------
  Navbar 
--------------------------------------------------*/
.nav-bar{
  background-image: url(../img/navbg.png);
  border:1px solid #283941;
  padding-bottom: 10px;
  background-color: #fff;
}
#principal{
  background-color:#283941;
  border-bottom:1px solid #283941;
  list-style: none;
  background: #55636e; /* Old browsers */
  background: -moz-linear-gradient(top,  #55636e 0%, #3d4d5a 33%, #374957 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55636e), color-stop(33%,#3d4d5a), color-stop(100%,#374957)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #55636e 0%,#3d4d5a 33%,#374957 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #55636e 0%,#3d4d5a 33%,#374957 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #55636e 0%,#3d4d5a 33%,#374957 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #55636e 0%,#3d4d5a 33%,#374957 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55636e', endColorstr='#374957',GradientType=0 ); /* IE6-9 */
  height: 45px;
  padding:0;
  margin:0;
  text-decoration: none;
  text-shadow: 1px 0px #000;
}
#principal li{
  color: #fff;
  float: left;
  line-height: 45px;
}
#principal li a:link,#principal li a:visited{
  border-right: 1px solid #283941;
  border-left: 1px solid #4a5c6a;
  color: #fff;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  text-shadow: 1px 1px #000;
}
#principal li a:hover{
  color: #b3e1f9 !important;
}
.nav-active{
  color: #b3e1f9 !important;
}
#principal li ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.none{
  display: none;
}
/* --------------- --------------------------
    Main
      Slider
--------------------------------------------*/
#main{
  clear: both;
}
#main .slider{
  height: 300px;
  border:1px solid #283941;
}
.slider article{
  height: 300px;
}
.slider-ul{
  padding: 0 20px 0 0 !important;
}
.slider-ul ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-ul ul li:hover, .slider-ul ul li.li-active{
  background-image: url(../img/home/slider-li-bg.png);
  background-repeat: repeat-x;
  font-size: 18px;
  font-weight: normal;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  border: 1px solid #ddb850;
}
.slider-ul ul li:hover h4,.slider-ul ul li.li-active h4{
  color: #fbea9a;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.slider-ul ul li{
  height: 75px;
  padding: 0.5em 1em;
  background-image: url(../img/home/slider-li-bg-de.png);
  background-repeat: repeat-x;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  border: 1px solid #768089;
}
.slider-ul ul li h4{
  color: #cdccca;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.slider-ul ul li a:link, .slider-ul ul li a:active, .slider-ul ul li a:visited{
  text-decoration: none;
  color: #fff;
  display: block;
}

.slider-pics{
  padding: 0 0 0 20px;
  display: none;
}
.slid{
  display: block;
}
.slider-on{
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  height: 300px;
}
.slider-on img{
  border-right: 2px solid #283941;
  display: block;
  width: 100%;
  height: 298px;
  position: relative;
}
.slider-on figcaption{
  background-color: #4a5c6a;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  padding: 1em;
  position: absolute;
  margin: 0 2px 2px 0;
}

/* -----------------------------------------------
  Main
    Examples
-------------------------------------------------*/
.last-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.last-ul li{
  display: inline-block;
  margin: 0 30px;
}
.last-ul li img{
  border: 1px solid #808080;
  height: 150px;
  width: 150px;
}
.latest{
  background-image: url(../img/ome/latest-bg.png);
  background-position: 0 133px;
  background-size: 100% 26px;
  background-repeat: no-repeat;
}
.latest h4{
  background-image: url(../img/ome/line-bg.png);
  border: 1px solid #1b2934;
  height: 76px;
  line-height: 76px;
  padding: 0 30px;
  margin: 0;
}

/*-------------------------------------------------
  Main
    Bottom Widgets
--------------------------------------------------*/
.h-left{
  color: white;
}
.width{
  padding: 15px 0;
}
.width h4{
  text-shadow: 1px 1px #445662;
}
.w66{
  width: 63%;
}
.w33{
  width: 30%;
}
.w50{
  width: 50%;
}
.wfull{
  width: 100%;
}
.wfull p{
  color: #f9ffff;
  font-size: 14px;
}
.widget-bottom{
  position: relative;
}
.w50 ul{
  color:#ffea93;
  font-size: 12px;
  list-style: none;
  margin: 10px;
  padding: 0;
}
.w50 ul li{
  display: block;
  height: 60px;
  border-left: 3px solid #1c2329;
  border-bottom: 1px solid #808080;
  padding: 5px 0;
  margin: 10px 0;
}
.w50 ul li strong{
  color: #d5dce2;
  font-size: 14px;
}
.icon{
  display: block;
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
.box-user{
  border:1px solid #2a4149;
  color: #f0f0f0;
  padding: 30px;
  text-align: justify;
}
.news ul{
  background-color: #161d25;
  color: white;
  display: block;
  font-size: 12px;
  height: 100%;
  list-style: none;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
.news ul li{
  padding: 10px 20px;
}
.news ul li p{
  color: #dde2e6;
  font-size: 12px;
  font-weight: bold;
}
.news ul li img{
  display: block;
  float: left;
  height: 70px;
  width: 90px;
  margin: 0 15px 15px 0;
}
.news ul li h4, .news ul li h5{
  margin: 0;
  text-align: left;
}
.news ul li h4{
  color: #c0dcf4;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.news ul li h5{
  color: #808080;
}
.bottom-container{
}

.read-more-btn{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}